#packages
frontend/node_modules

#env
.venv
.env
*.env
version_settings.json
**/config.json

#static

#data
data/
chunks_json/
*.xlsx
trulens_eval_results.csv

#cache
.azure/
__pycache__/

#misc
*.sqlite
**/.streamlit
**/test.ipynb
